.details-tile div {
  display: grid;
  grid-template-columns: 7% 93%;
  gap:1rem;
  margin:1rem 0;
}

h3 {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 16px;
  color: #494343;
}

.details-tile p {
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 17px;
  color: #201c1c;
}

@media(min-width:900px) {
  h3 {
    font-size:1rem;
  }

  .details-tile p {
    font-size:1.1rem;
  }
}

@media(min-width:1200px) {
  h3 {
    font-size:1.1rem;
  }

  .details-tile p {
    font-size:1.3rem;
  }
}