.forecast-section {
  margin: 1rem;
}

fieldset {
  border:none;
}

legend {
  color:#ffffff;
}

input[type="radio"] {
  appearance: none;
}

label {
  font-size: 1.1rem;
  opacity: 0.5;
}

label:hover {
  cursor: pointer;
  color:#ec6e4c;
  opacity: 1;
}

label:nth-of-type(2) {
  margin-left: 1rem;
}

input[type="radio"]:checked + label {
  font-weight: 700;
  opacity: 1;
}

.forecast-scroll {
  margin-top: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  display:flex;
  gap:11px;
}

.forecast-scroll::-webkit-scrollbar {
  display: none;
}

@media(min-width:600px) {
  .forecast-section {
    margin-left:3rem;
  }

  .forecast-scroll {
padding-bottom:1rem;
  }
}

@media(min-width:900px) {
  .forecast-section {
    margin:2rem 2rem 0 2rem; 
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content: center;
  }

  label {
    margin-left: 0;
    font-size:1.2rem;
  }
}

@media(min-width:1200px) {
 label {
  font-size:1.5rem;
  margin-bottom:1.5rem;
 }

 .forecast-scroll {
  gap:20px;
 }
}