header {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: linear-gradient(
    118.25deg,
    #4f80fa 1.2%,
    #3764d7 59.26%,
    #335fd1 79.2%
  );
  color: #ffffff;
  align-items: center;
  gap:0.8rem;
}

.night header {
  background: linear-gradient(118.25deg, #4C4E53 1.2%, #0C1224 95.02%);
}

.header-date-time {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 17px;
}

header img {
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,0.6);
  border-radius:100%;
  margin:1rem 0;
}

.header-temp {
  font-weight: 400;
  font-size: 2rem;
  line-height: 24px;
}

.header-desc {
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
}

@media(min-width:900px) {
  header {
    grid-row: 1/-1;
    justify-content: center;
    gap:1rem;
  }

  .header-date-time {
    font-size:1.3rem;
  }

  .header-temp {
    font-size:2.5rem;
  }

  .header-location {
    font-size:1.2rem;
  }
}

@media(min-width:1200px) {
  header {
    gap:2rem;
  }
  
  .header-date-time {
    font-size: 1.8rem;
  }

  .header-temp {
    font-size: 2.8rem;
  }

  .header-location {
    font-size:1.5rem;
  }
}

@media(min-width:1650px) {
  header {
    gap:3rem;
  }

  .header-date-time {
    font-size:2.5rem;
  }

  header img {
    width: 150px;
    height:150px;
  }

  .header-temp {
    font-size:3.5rem;
  }

  .header-desc {
    font-size:1.5rem;
  }
}